body {
  background: linear-gradient(rgb(91, 192, 255), plum);
  min-height: 100vh;
  font-family: "Courier New", monospace
}
h1 {
  color: white;
  text-align: center;
}
.content-box {
  background-color: white;
  color: black;
  border: 2px dashed darkslateblue;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,1);
}
body {
  max-width: 800px;
  margin: 0 auto;
}
a {
  color: mediumvioletred;
}
a:hover {
  background-color: gold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 600px) {
  .flex-container {
    flex-direction: row;
  }
}

.column {
  flex: 1;
}



.centred {
  display: flex;
  justify-content: center;
}

.stripes {
  background: repeating-linear-gradient(45deg, #fffdf6, #fffdf6 20px, #d3e4ff 20px, #d3e4ff 40px);
  background-size: 56px 56px;
  padding: 5px;
  text-align: center;
}